/* Retirar todas as margens de todos
os elementos */
*{
    margin:0; /*margem externa*/
    padding: 0;/*margem interna*/
    box-sizing: border-box;
}
body{
    background-image:url("../img/tela1.jpg");
    background-size: 100%;
    background-position: 0 -100px;
    color:#fff;
    font-family: "arial";
    margin:15px;
}
h1{
    font-size: 12pt;
}
h2{
    font-size:32pt;
    margin-top: 80px;
}
/* vamos fixar o rodapé na parte
inferior da tela.
Utilizaremos a posição fixa com
margem de base(bottom) próxima de 
zero(0) */
#rodape{
    position: fixed;
    bottom: 20px;
    display: flex;
}
#avancar{
    display: flex;
    background-color: #4f4e58;
    width: 280px;
    border-radius: 50px;
    align-items: center;/*alinhamento na vertical(centro)*/
    justify-content: space-between;/*Distribui o conteúdo dentro da área*/
    margin-left: 10px;
    padding-right: 10px;
    border:2px solid #4f4e58;
    font-family:'Arial';

}
#voltar{
    border:1px solid #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#avancar #play{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    color:#4f4e58;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #302f2f;
}